include ../../../../node_modules/bemto.pug/bemto

+b.SECTION.favorite-scenario
    +e.HEADER.header
        +e.H2.title(class="medium_title") Избранные сценарии
        +b.controls-panel.favorite-scenario__controls
            +e.BUTTON.control-button._left#favorite-left(type="button") Листать влево
            +e.BUTTON.control-button._right#favorite-right(type="button") Листать вправо
    +e.UL.list
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_sun_2")
            +e.P.item-text Выключить весь свет в доме и во дворе
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_scheduled")
            +e.P.item-text Я ухожу
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_sun_2")
            +e.P.item-text Включить весь свет в коридоре
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Набрать горячую ванну
            +e.SMALL.clarify-text Начнется в 18:00
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Сделать пол тёплым во всей квартире
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_sun_2")
            +e.P.item-text Включить весь свет в коридоре
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Набрать горячую ванну
            +e.SMALL.clarify-text Начнется в 18:00
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Сделать пол тёплым во всей квартире
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Сделать пол тёплым во всей квартире
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Сделать пол тёплым во всей квартире
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_sun_2")
            +e.P.item-text Выключить весь свет в доме и во дворе
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_scheduled")
            +e.P.item-text Я ухожу
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_sun_2")
            +e.P.item-text Включить весь свет в коридоре
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Набрать горячую ванну
            +e.SMALL.clarify-text Начнется в 18:00
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Сделать пол тёплым во всей квартире
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_sun_2")
            +e.P.item-text Включить весь свет в коридоре
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Набрать горячую ванну
            +e.SMALL.clarify-text Начнется в 18:00
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Сделать пол тёплым во всей квартире
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Сделать пол тёплым во всей квартире
        +e.LI.list-item.card-item
            +e.item-icon
                +e.SVG.svg-icon(width="24" height="24")
                    use(xlink:href="#icon_temperature_2")
            +e.P.item-text Сделать пол тёплым во всей квартире
