doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='description' content='Описание страницы для SEO и соцсетей')
  meta(name='keywords' content='ключевые, слова, через, запятую')
  title Legalbet
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
  link(rel='stylesheet' href='css/style.min.css' type='text/css')
.wrapper
  main.wrapper-content
    header.page-header
      .page-header__container.container
        .page-header__main
          a.page-header__main-logo(href='')
          a.page-header__main-link(href='') &Bcy;&acy;&zcy;&acy; &zcy;&ncy;&acy;&ncy;&icy;&jcy;
          nav.page-header__nav
            ul.page-header__list
              li.page-header__item
                a.page-header__item-link(href='') &Bcy;&ucy;&kcy;&mcy;&iecy;&kcy;&iecy;&rcy;&ycy;
              li.page-header__item
                a.page-header__item-link(href='') &Bcy;&ocy;&ncy;&ucy;&scy;&ycy;
              li.page-header__item
                a.page-header__item-link(href='') &Pcy;&rcy;&ocy;&gcy;&ncy;&ocy;&zcy;&ycy;
              li.page-header__item
                a.page-header__item-link(href='') &Bcy;&iecy;&tcy;&tcy;&icy;&ncy;&gcy;-&tscy;&iecy;&ncy;&tcy;&rcy;
              li.page-header__item
                a.page-header__item-link(href='') &Ecy;&kcy;&scy;&pcy;&iecy;&rcy;&tcy;&ycy;
              li.page-header__item
                a.page-header__item-link(href='') &Bcy;&lcy;&ocy;&gcy;&icy;
              li.page-header__item
                a.page-header__item-link(href='') &Bcy;&acy;&zcy;&acy; &zcy;&ncy;&acy;&ncy;&icy;&jcy;
          .burger
            span.burger-global.burger-top
            span.burger-global.burger-middle
            span.burger-global.burger-bottom
            span.burger-active
        .page-header__additional
          a.page-header__support(href='')
            span.page-header__support-icon
            span.page-header__support-text &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy;
            span.page-header__support-active
          a.page-header__search(href='')
            span.page-header__search-icon
            span.page-header__search-text &Pcy;&ocy;&icy;&scy;&kcy;
          a.page-header__user(href='')
            span.page-header__user-name FL
            span.page-header__user-active
    setion.content
      .content__container.container
        .content__pad
          .content__button
            span.content__button-text &Kcy;&acy;&lcy;&softcy;&kcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy; &rcy;&acy;&scy;&chcy;&iecy;&tcy;&acy; &vcy;&ycy;&jcy;&gcy;&rcy;&ycy;&shcy;&acy;
            span.content__button-arrow
          ul.content__block
            li.content__blockitem
              a.content__blockitem-link(href='') &SHcy;&kcy;&ocy;&lcy;&acy; &scy;&tcy;&acy;&vcy;&ocy;&kcy;
            li.content__blockitem
              a.content__blockitem-link(href='') FAQ
            li.content__blockitem
              a.content__blockitem-link(href='') &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;-&ocy;&tcy;&vcy;&iecy;&tcy;
            li.content__blockitem
              a.content__blockitem-link(href='') &Scy;&ocy;&vcy;&iecy;&tcy;&ycy; &icy;&gcy;&rcy;&ocy;&kcy;&ocy;&vcy;
        .content-info
          h1.content-info-title &Bcy;&ucy;&kcy;&mcy;&iecy;&kcy;&iecy;&rcy;&scy;&kcy;&icy;&iecy; &kcy;&ocy;&ncy;&tcy;&ocy;&rcy;&ycy; &scy; &vcy;&ycy;&scy;&ocy;&kcy;&icy;&mcy;&icy; &kcy;&ocy;&ecy;&fcy;&fcy;&icy;&tscy;&icy;&iecy;&ncy;&tcy;&acy;&mcy;&icy;
          .content-info-flag &Ncy;&IEcy; &Pcy;&Rcy;&Ocy;&Dcy;&Acy;&IEcy;&Tcy;&Scy;&YAcy;
          .content-info__table
            ul.content-info__top
              li.content-info__top-item.text.content-info__top-item_logo &Bcy;&ucy;&kcy;&mcy;&iecy;&kcy;&iecy;&rcy;
              li.content-info__top-item.text.content-info__top-item_profit &Mcy;&acy;&rcy;&zhcy;&acy;
              li.content-info__top-item.text.content-info__top-item_comments &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
              li.content-info__top-item.text.content-info__top-item_bonus &Bcy;&ocy;&ncy;&ucy;&scy;
            ul.content-info__company
              li.content-info__item.content-info__item_logo
                a.content-info__item-logo(href='' style='background: url(images/bookmaker-1.png) no-repeat center / contain;')
              li.content-info__item.content-info__item_profit
                a.content-info__profit(href='')
                  span.content-info__profit-text.text 2.69%
                  span.content-info__profit-icon
              li.content-info__item.content-info__item_comments
                a.content-info__comments(href='')
                  span.content-info__comments-icon
                  span.content-info__comments-text.text 138
              li.content-info__item.content-info__item_bonus
                a.content-info__bonus(href='')
                  span.content-info__bonus-icon
                  span.content-info__bonus-text.text 2 000 &#x20BD;
                a.content-info__item-button.button(href='') &Ncy;&acy; &scy;&acy;&jcy;&tcy;
                a.content-info__item-transition(href='')
            ul.content-info__company
              li.content-info__item.content-info__item_logo
                a.content-info__item-logo(href='' style='background: url(images/bookmaker-2.png) no-repeat center / contain;')
              li.content-info__item.content-info__item_profit
                a.content-info__profit(href='')
                  span.content-info__profit-text.text 2.69%
                  span.content-info__profit-icon
              li.content-info__item.content-info__item_comments
                a.content-info__comments(href='')
                  span.content-info__comments-icon
                  span.content-info__comments-text.text 138
              li.content-info__item.content-info__item_bonus
                a.content-info__bonus(href='')
                  span.content-info__bonus-icon
                  span.content-info__bonus-text.text 2 000 &#x20BD;
                a.content-info__item-button.button(href='') &Ncy;&acy; &scy;&acy;&jcy;&tcy;
                a.content-info__item-transition(href='')
            ul.content-info__company
              li.content-info__item.content-info__item_logo
                a.content-info__item-logo(href='' style='background: url(images/bookmaker-3.png) no-repeat center / contain;')
              li.content-info__item.content-info__item_profit
                a.content-info__profit(href='')
                  span.content-info__profit-text.text 2.69%
                  span.content-info__profit-icon
              li.content-info__item.content-info__item_comments
                a.content-info__comments(href='')
                  span.content-info__comments-icon
                  span.content-info__comments-text.text 138
              li.content-info__item.content-info__item_bonus
                a.content-info__bonus(href='')
                  span.content-info__bonus-icon
                  span.content-info__bonus-text.text 2 000 &#x20BD;
                a.content-info__item-button.button(href='') &Ncy;&acy; &scy;&acy;&jcy;&tcy;
                a.content-info__item-transition(href='')
            ul.content-info__company
              li.content-info__item.content-info__item_logo
                a.content-info__item-logo(href='' style='background: url(images/bookmaker-4.png) no-repeat center / contain;')
              li.content-info__item.content-info__item_profit
                a.content-info__profit(href='')
                  span.content-info__profit-text.text 2.69%
                  span.content-info__profit-icon
              li.content-info__item.content-info__item_comments
                a.content-info__comments(href='')
                  span.content-info__comments-icon
                  span.content-info__comments-text.text 138
              li.content-info__item.content-info__item_bonus
                a.content-info__bonus(href='')
                  span.content-info__bonus-icon
                  span.content-info__bonus-text.text 2 000 &#x20BD;
                a.content-info__item-button.button(href='') &Ncy;&acy; &scy;&acy;&jcy;&tcy;
                a.content-info__item-transition(href='')
        .content-aside
          ul.content-aside__info
            li.content-aside__item
              a.content-aside__item-link.text(href='') &SHcy;&kcy;&ocy;&lcy;&acy; &scy;&tcy;&acy;&vcy;&ocy;&kcy;
            li.content-aside__item
              a.content-aside__item-link.text(href='') FAQ
            li.content-aside__item
              a.content-aside__item-link.text(href='') &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;-&ocy;&tcy;&vcy;&iecy;&tcy;
              span.content-aside__item-number.text 3
            li.content-aside__item
              a.content-aside__item-link.text(href='') &Scy;&ocy;&vcy;&iecy;&tcy;&ycy; &icy;&gcy;&rcy;&ocy;&kcy;&ocy;&vcy;
            li.content-aside__item
              a.content-aside__item-link.text(href='') &Kcy;&acy;&lcy;&softcy;&kcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy; &rcy;&acy;&scy;&chcy;&iecy;&tcy;&acy; &vcy;&ycy;&jcy;&gcy;&rcy;&ycy;&shcy;&acy;
          .content-aside__course
            .content-aside__title
              h2.content-aside__title-text.text &Kcy;&ucy;&rcy;&scy; &mcy;&ocy;&lcy;&ocy;&dcy;&ocy;&gcy;&ocy; &scy;&tcy;&acy;&vcy;&ocy;&chcy;&ncy;&icy;&kcy;&acy;
              span.content-aside__title-icon
            p.content-aside__course-text.text &Pcy;&ocy;&mcy;&ocy;&gcy;&acy;&iecy;&mcy; &rcy;&acy;&zcy;&ocy;&bcy;&rcy;&acy;&tcy;&softcy;&scy;&yacy; &scy;&ocy; &scy;&tcy;&acy;&vcy;&kcy;&acy;&mcy;&icy; &icy; &bcy;&ucy;&kcy;&mcy;&iecy;&kcy;&iecy;&rcy;&scy;&kcy;&icy;&mcy;&icy; &kcy;&ocy;&ncy;&tcy;&ocy;&rcy;&acy;&mcy;&icy;
            a.content-aside__course-link.text(href='') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&ocy;&scy;&tcy;&icy;
            form.content-aside__form(action='')
              input.content-aside__form-input.input(type='text' placeholder='Ваше имя')
              input.content-aside__form-input.input(type='email' placeholder='Email')
              button.content-aside__form-button.button.button_blue &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &kcy;&ucy;&rcy;&scy;
              label.content-aside__form__checkbox.as_form__agree
                input.as_form__checkbox-hidden(type='hidden' name='consent' value='')
                input.as_form__checkbox(type='checkbox' name='consent')
                span.as_form__checkbox-custom
                span.as_form__check
                  | &Scy;&ocy;&gcy;&lcy;&acy;&shcy;&acy;&yucy;&scy;&softcy;
                  a.as_form__check-link(href='')  &scy; &ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;
  aside.wrapper-aside
script(src='js/app.min.js' type='text/javascript')
