include ../../helpers/pug/mixins

+b.FOOTER.page-footer
    +e.UL.info-list
        +e.LI.info-item
            +e.A.info-link(href="#") Помощь
        +e.LI.info-item
            +e.A.info-link(href="#") Обратная связь
        +e.LI.info-item
            +e.A.info-link(href="#") Разработчикам
        +e.LI.info-item
            +e.A.info-link(href="#") Условия использования
    +e.SMALL.copyright © 2001-2017 ООО Яндекс
