include ../../helpers/pug/mixins
div(style="display: none")
    include ../../images/sprite.svg

+b.HEADER.page-header
    +e.logo
        +e.PICTURE
            +e.IMG.logo-image(src="images/yandexhome@1x.png" srcset="images/yandexhome@2x.png 2x" alt="Яндекс Дом" title="Яндекс Дом")
    +e.BUTTON.menu-mobile-button(type="button") Открыть мобильное меню
        span
    +e.NAV.nav
        +e.UL.nav-list
            +e.LI.nav-item
                +e.A.nav-link._current(href="#") Сводка
            +e.LI.nav-item
                +e.A.nav-link(href="#") Устройства
            +e.LI.nav-item
                +e.A.nav-link(href="#") Сценарии
